/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Audiowide", sans-serif;
}
/*
*:focus {
  outline: none;
  border: 2px dotted #222;
}
*/

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  background: url("/src/assets/fiuCampusImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //   filter: brightness(40%);

  background-attachment: fixed;
  background-size: 100%;

  color: #e4e4e4;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  // margin-right: 6.8rem;
  // margin-left: 6.8rem;
  /* padding-left: 6.4rem;
      padding-right: 6.4rem; */
}

/*
.miniCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 2rem;

  &__link img {
    width: 5.2rem;
    height: 5.2rem;
  }
}
*/

.btn {
  background-color: rgb(10, 10, 10);
  box-shadow: 0px 8px 14px 1px rgba(175, 175, 175, 0.5);

  color: #fff;
  transition: 300ms all ease-in-out;
  border-radius: 8px;
  border: none;
  font-size: 3rem;
  padding: 1.2rem 2.4rem;
  // border-radius: 5px;
  // text-decoration: none;

  // padding: 1rem 1rem;
  // font-size: 3rem;

  // margin-top: 4.8rem;

  &:hover {
    color: #ff5757;
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.85);
  }

  &:active {
    color: #bd4040;
    box-shadow: 0 0 0 0.4rem rgba(153, 153, 153, 0.5);

    transition: 0ms ease-in-out;
  }

  @media (max-width: 38.125em) {
    font-size: 2.4rem;

    // gap: 1rem;
  }
}
.button-container {
  display: flex;
  gap: 2rem;
}

.platformBtn {
  box-shadow: 0px 8px 14px 1px rgba(175, 175, 175, 0.5);

  color: #fff;
  transition: 300ms all ease-in-out;
  border-radius: 8px;
  border: none;
  font-size: 3rem;
  padding: 1.2rem 2.4rem;

  &:hover {
    background-color: rgb(10, 10, 10);
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.85);
  }

  &:active {
    box-shadow: 0 0 0 0.4rem rgba(153, 153, 153, 0.5);

    transition: 0ms ease-in-out;
  }
}

.brightnessWorkaround {
  background-color: rgba(0, 0, 0, 0.4);
}
