.dashboardContainer {
  //   display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.4rem;
}
// .forceFlex {
//   display: flex;
// }
.dashboardHeaderText {
  font-size: 9rem;
  padding-left: 12.8rem;
  padding-top: 9.6rem;

  text-shadow: rgba(21, 23, 43, 1) 1px 0 10px;
}
