.finances {
  padding-bottom: 12.8rem;
  &__data {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 6.4rem;

    gap: 4rem;
  }

  &__dataTwo {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 6.4rem;

    gap: 4rem;

    @media (max-width: 89.5em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 65.875em) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 38.125em) {
      //   gap: 1rem;
    }
  }
  &__dataStyles {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 400px;
  }

  /*
  .canvas {
    height: 100%;
    width: 400px;
  }
*/
  &__graphs {
    border-radius: 30px;
    background-color: rgba(0, 11, 19, 0.7);

    // border-color: #000;
    // border-radius: 5px;
  }
}

/* 
Not sure why the pie chart has styles when 
"finances__pieGraph is commented out
*/

/*
.finances__pieGraph {
  height: 500px;
}
*/
